<!DOCTYPE html>
<html>
<head>
    <title>Ansible Portfolio Project</title>
</head>
<body>
    <h1>Success!</h1>
    <p>This server was provisioned by Ansible.</p>
    <p>Target Host: {{ inventory_hostname }}</p>
</body>
</html>